/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

@font-face {
    font-family: 'wicked_mouseregular';
    src: url('../font/wicked_mouse_demo-webfont.woff2') format('woff2'),
         url('../font/wicked_mouse_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body {
  height:100%;
  margin:0;
}

button:not([disabled]) {
  cursor:pointer;
}

/* jouw CSS vanaf hier */

h1 {
  color: #FF69B6;
  font-family: wicked_mouseregular;
}

header{
  position: absolute;
  top: 2em;
  left: 2em;
}

.logo {
  width: 20em;

  position: absolute;
  top: 2em;
  right: 2em;
}

.clubhouse {
  width: 45vw;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6.2em;
}

.raam{
  position: absolute;
  top: 28.7em;
  left: 37.8em;
  width: 3.6em;
}

.background{
  position: absolute;
  top: -4em;
  left: 0em;

  width: 100%;

  z-index: -1;
}


/*img.ikHebHetLogoVeranderd {
  content: url("../images/minnielogo.png");
}

img.ikHebHetClubhuisVeranderd {
  content: url("../images/clubhouseroze.png");
}*/

img.ikHebHetLogoVeranderd {
  content: url("../images/minnielogo.png");
}

img.ikHebHetHuisVeranderd {
  content: url("../images/clubhouseroze.png");
}
