/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

@font-face {
    font-family: 'wicked_mouseregular';
    src: url('../font/wicked_mouse_demo-webfont.woff2') format('woff2'),
         url('../font/wicked_mouse_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body {
  height:100%;
  margin:0;
}

button:not([disabled]) {
  cursor:pointer;
}

/* jouw CSS vanaf hier */

h1 {
  color: #FF69B6;
  font-family: wicked_mouseregular;
}

header{
  position: absolute;
  top: 2em;
  left: 2em;
}

.logo {
  width: 20em;

  position: fixed;
  top: 2em;
  right: 2em;
  font-size: 1em;

  background: none;
  border: none;
}

.logo img {
  width: 100%;
}

.clubhouse {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45vw;
  margin-top: 6.2em;
}


.hand{
  position: absolute;
  top: 22.5em;
  left: 20em;
  width: 12vw;
  z-index: -1;
}

.background{
  position: absolute;
  top: 0em;
  left: 0em;

  width: 100%;

  z-index: -1;
}




/**********/
/*DE RAMEN*/
/**********/

.raam1 img{
  background: none;
  border: none;

  width: 4.5em;
  position: absolute;
  top: 32.3em;
  left: 46.5em;
}

.raam2 img{
  background: none;
  border: none;

  width: 2.8em;
  position: absolute;
  top: 33.2em;
  left: 51.7em;
}

.raam3 img{
  background: none;
  border: none;

  width: 3.2em;
  position: absolute;
  top: 33em;
  left: 55.9em;
}

.raam4 img{
  background: none;
  border: none;

  width: 3.8em;
  position: absolute;
  top: 37.8em;
  left: 43.2em;
}

.raam5 img{
  background: none;
  border: none;

  width: 3.1em;
  position: absolute;
  top: 38.8em;
  left: 47.8em;
}

.raam6 img{
  background: none;
  border: none;

  width: 4.2em;
  position: absolute;
  top: 39em;
  left: 51.5em;
}

.raam7 img{
  background: none;
  border: none;

  width: 3em;
  position: absolute;
  top: 39.2em;
  left: 56em;
}





/*****************/
/*LOGO VERANDEREN*/
/*****************/
.logo img.ikHebHetLogoVeranderd {
  content: url("../images/minnielogo.png");
}

img.clubhouse.ikHebHetHuisVeranderd {
  content: url("../images/clubhouseroze.png");
}





/*********/
/*MINNIES*/
/*********/
.minnie1{
  width: 5.2vw;

  position: absolute;
  top: 30.6em;
  left: 55.5em;
  
  opacity: 0;
}

.minnie2{
  width: 4.6vw;

  position: absolute;
  top: 30.5em;
  left: 56em;

  opacity: 0;
}

.minnie3{
  width: 4.8vw;

  position: absolute;
  top: 30.3em;
  left: 55.9em;

  opacity: 0;
}

.minnie4{
  width: 4.3vw;

  position: absolute;
  top: 30.3em;
  left: 56.2em;

  opacity: 0;
}

.minnie5{
  width: 4.6vw;

  position: absolute;
  top: 30.4em;
  left: 56em;

  opacity: 0;
}

.minnie6{
  width: 4.4vw;

  position: absolute;
  top: 30.6em;
  left: 55.9em;

  opacity: 0;
}

.minnie7{
  width: 4.2vw;

  position: absolute;
  top: 30.6em;
  left: 56.3em;

  opacity: 0;
}





/****************************/
/*MINNIES KOMEN NAAR BUIETEN*/
/****************************/
img.minnie1.minnie1isgekomen {
  animation-name: minnie1KomtNaarBuiten;
  animation-duration: 2s;
  animation-timing-function:ease-in;
  animation-fill-mode: forwards;
}

@keyframes minnie1KomtNaarBuiten {
  0%{
    opacity: 0;
  }
  50% {
    transform: translate(-9em, 9em) rotate(0) translate(9em, -9em) rotate(0) scale(1);
    z-index: 1;
    opacity: 1;
  }
  100% {
    transform: translate(-4em, 4em) rotate(60deg) translate(4em, -4em) rotate(-60deg) scale(1.9);
    z-index: 1;
    opacity: 1;
  }
}


img.minnie2.minnie2isgekomen {
  animation-name: minnie2KomtNaarBuiten;
  animation-duration: 2s;
  animation-timing-function:ease-in;
  animation-fill-mode: forwards;
}

@keyframes minnie2KomtNaarBuiten {
  0%{
    opacity: 0;
  }
  50% {
    transform: translate(-9em, 9em) rotate(0) translate(9em, -9em) rotate(0) scale(1);
    z-index: 1;
    opacity: 1;
  }
  100% {
    transform: translate(-4em, 4em) rotate(60deg) translate(4em, -4em) rotate(-60deg) scale(1.9);
    z-index: 1;
    opacity: 1;
  }
}


img.minnie3.minnie3isgekomen {
  animation-name: minnie3KomtNaarBuiten;
  animation-duration: 2s;
  animation-timing-function:ease-in;
  animation-fill-mode: forwards;
}

@keyframes minnie3KomtNaarBuiten {
  0%{
    opacity: 0;
  }
  50% {
    transform: translate(-9em, 9em) rotate(0) translate(9em, -9em) rotate(0) scale(1);
    z-index: 1;
    opacity: 1;
  }
  100% {
    transform: translate(-4em, 4em) rotate(60deg) translate(4em, -4em) rotate(-60deg) scale(1.9);
    z-index: 1;
    opacity: 1;
  }
}


img.minnie4.minnie4isgekomen {
  animation-name: minnie4KomtNaarBuiten;
  animation-duration: 2s;
  animation-timing-function:ease-in;
  animation-fill-mode: forwards;
}

@keyframes minnie4KomtNaarBuiten {
  0%{
    opacity: 0;
  }
  50% {
    transform: translate(-9em, 9em) rotate(0) translate(9em, -9em) rotate(0) scale(1);
    z-index: 1;
    opacity: 1;
  }
  100% {
    transform: translate(-4em, 4em) rotate(60deg) translate(4em, -4em) rotate(-60deg) scale(1.9);
    z-index: 1;
    opacity: 1;
  }
}


img.minnie5.minnie5isgekomen {
  animation-name: minnie5KomtNaarBuiten;
  animation-duration: 2s;
  animation-timing-function:ease-in;
  animation-fill-mode: forwards;
}

@keyframes minnie5KomtNaarBuiten {
  0%{
    opacity: 0;
  }
  50% {
    transform: translate(-9em, 9em) rotate(0) translate(9em, -9em) rotate(0) scale(1);
    z-index: 1;
    opacity: 1;
  }
  100% {
    transform: translate(-4em, 4em) rotate(60deg) translate(4em, -4em) rotate(-60deg) scale(1.9);
    z-index: 1;
    opacity: 1;
  }
}


img.minnie6.minnie6isgekomen {
  animation-name: minnie6KomtNaarBuiten;
  animation-duration: 2s;
  animation-timing-function:ease-in;
  animation-fill-mode: forwards;
}

@keyframes minnie6KomtNaarBuiten {
  0%{
    opacity: 0;
  }
  50% {
    transform: translate(-9em, 9em) rotate(0) translate(9em, -9em) rotate(0) scale(1);
    z-index: 1;
    opacity: 1;
  }
  100% {
    transform: translate(-4em, 4em) rotate(60deg) translate(4em, -4em) rotate(-60deg) scale(1.9);
    z-index: 1;
    opacity: 1;
  }
}


img.minnie7.minnie7isgekomen {
  animation-name: minnie7KomtNaarBuiten;
  animation-duration: 2s;
  animation-timing-function:ease-in;
  animation-fill-mode: forwards;
}

@keyframes minnie7KomtNaarBuiten {
  0%{
    opacity: 0;
  }
  50% {
    transform: translate(-9em, 9em) rotate(0) translate(9em, -9em) rotate(0) scale(1);
    z-index: 1;
    opacity: 1;
  }
  100% {
    transform: translate(-4em, 4em) rotate(60deg) translate(4em, -4em) rotate(-60deg) scale(1.9);
    z-index: 1;
    opacity: 1;
  }
}




/***************/
/*DEUR ANIMATIE*/
/***************/

.deur {
  width: 5.2em;
  position: absolute;
  top: 30.1em;
  left: 55.2em;
}

img.deur.deDeurIsOpenGegaan{
  animation-name: deurGaatOpen;
  animation-duration: 2s;
  animation-timing-function:ease-in;
}

@keyframes deurGaatOpen{
  0% {
    transform: rotateY(0deg);
    transform-origin: right;
  }
  50% {
    transform: rotateY(-120deg);
    transform-origin: right;
  }
  100% {
    transform: rotateY(-120deg);
    transform-origin: right;
  }
}
