/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

@font-face {
    font-family: 'wicked_mouseregular';
    src: url('../font/wicked_mouse_demo-webfont.woff2') format('woff2'),
         url('../font/wicked_mouse_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body {
  height:100%;
  margin:0;
}

button:not([disabled]) {
  cursor:pointer;
}

/* jouw CSS vanaf hier */

h1 {
  color: #FF69B6;
  font-family: wicked_mouseregular;
}

header{
  position: absolute;
  top: 2em;
  left: 2em;
}

.logo {
  width: 20em;

  position: fixed;
  top: 2em;
  right: 2em;
  font-size: 1em;

  background: none;
  border: none;
}

.logo img {
  width: 100%;
}

.clubhouse {
  width: 45vw;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6.2em;
}

.raam img{
  position: absolute;
  top: 30em;
  left: 40em;
  width: 5em;
}

.raam {
  background: none;
  border: none;
}

.hand{
  position: absolute;
  top: 22em;
  left: 20.5em;
  width: 12vw;
}

.background{
  position: absolute;
  top: -4em;
  left: 0em;

  width: 100%;

  z-index: -1;
}


.logo img.ikHebHetLogoVeranderd {
  content: url("../images/minnielogo.png");
}

img.clubhouse.ikHebHetHuisVeranderd {
  content: url("../images/clubhouseroze.png");
}





.raam img.minnie1isgekomen {
  animation-name: minnieKomtNaarBuiten;
  animation-duration: 1s;
}

img.minnie.minnie1isgekomen {
  animation-name: minnieKomtNaarBuiten;
  animation-duration: 1s;
}

@keyframes minnieKomtNaarBuiten {
  0%{
    transform:rotate(0turn);
    top: 30em;
    left: 40em;
  }
  100%{
    transform:rotate(1turn);
    top: 50em;
    left: 60em;
  }
}

.minnie{
  width: 10vw;

  position: absolute;
  top: 30em;
  left: 40em;
}
